<h1>ようこそ Bookers へ！</h1>

<p class="show"><span class="column-name">Bookers </span>では、さまざまな書籍に関するあなたの意見や</p>
<p class="show">印象を共有し交換することができます</p>

<p class="show"><%= link_to "start", books_path %></p>